In [1]:
import torch
from refactor.probes import model_setup

In [2]:
model_names = ["gpt_gptsw3_en_da_356m_gbs1024","gpt_gptsw3_en_da_is_356m_gbs1024","gpt_gptsw3_en_is_da_356m_gbs1024","gpt_sw3_356m"]
lambda_val = 5
layer = "transformer.h.15.ln_1.bias"
for model_name in model_names:
    
    model_path = "downloaded_models/"

    model, tokenizer, device = model_setup(f"{model_path}{model_name}")
    
    steering = torch.load(f"steering_vectors/{model_name}/combined_steering_vector_layer_15_tensor.pt",map_location = device)
    
    model.state_dict()[layer] += steering*lambda_val
    
    model.save_pretrained(f'{model_path}/{model_name}_with_steering_lambda_{lambda_val}')
    tokenizer.save_pretrained(f'{model_path}/{model_name}_with_steering_lambda_{lambda_val}')  # Optional but recommended

found device: cpu

/var/folders/p0/267bnxr16cq2xpr1crtpxbgw0000gn/T/ipykernel_4552/1524319005.py:10: FutureWarning: You are using `torch.load` with `weights_only=False` (the current default value), which uses the default pickle module implicitly. It is possible to construct malicious pickle data which will execute arbitrary code during unpickling (See https://github.com/pytorch/pytorch/blob/main/SECURITY.md#untrusted-models for more details). In a future release, the default value for `weights_only` will be flipped to `True`. This limits the functions that could be executed during unpickling. Arbitrary objects will no longer be allowed to be loaded via this mode unless they are explicitly allowlisted by the user via `torch.serialization.add_safe_globals`. We recommend you start setting `weights_only=True` for any use case where you don't have full control of the loaded file. Please open an issue on GitHub for any issues related to this experimental feature.
  steering = torch.load(f"steering_vectors/{model_name}/combined_steering_vector_layer_15_tensor.pt",map_location = device)

found device: cpu

/var/folders/p0/267bnxr16cq2xpr1crtpxbgw0000gn/T/ipykernel_4552/1524319005.py:10: FutureWarning: You are using `torch.load` with `weights_only=False` (the current default value), which uses the default pickle module implicitly. It is possible to construct malicious pickle data which will execute arbitrary code during unpickling (See https://github.com/pytorch/pytorch/blob/main/SECURITY.md#untrusted-models for more details). In a future release, the default value for `weights_only` will be flipped to `True`. This limits the functions that could be executed during unpickling. Arbitrary objects will no longer be allowed to be loaded via this mode unless they are explicitly allowlisted by the user via `torch.serialization.add_safe_globals`. We recommend you start setting `weights_only=True` for any use case where you don't have full control of the loaded file. Please open an issue on GitHub for any issues related to this experimental feature.
  steering = torch.load(f"steering_vectors/{model_name}/combined_steering_vector_layer_15_tensor.pt",map_location = device)

found device: cpu

/var/folders/p0/267bnxr16cq2xpr1crtpxbgw0000gn/T/ipykernel_4552/1524319005.py:10: FutureWarning: You are using `torch.load` with `weights_only=False` (the current default value), which uses the default pickle module implicitly. It is possible to construct malicious pickle data which will execute arbitrary code during unpickling (See https://github.com/pytorch/pytorch/blob/main/SECURITY.md#untrusted-models for more details). In a future release, the default value for `weights_only` will be flipped to `True`. This limits the functions that could be executed during unpickling. Arbitrary objects will no longer be allowed to be loaded via this mode unless they are explicitly allowlisted by the user via `torch.serialization.add_safe_globals`. We recommend you start setting `weights_only=True` for any use case where you don't have full control of the loaded file. Please open an issue on GitHub for any issues related to this experimental feature.
  steering = torch.load(f"steering_vectors/{model_name}/combined_steering_vector_layer_15_tensor.pt",map_location = device)

found device: cpu

/var/folders/p0/267bnxr16cq2xpr1crtpxbgw0000gn/T/ipykernel_4552/1524319005.py:10: FutureWarning: You are using `torch.load` with `weights_only=False` (the current default value), which uses the default pickle module implicitly. It is possible to construct malicious pickle data which will execute arbitrary code during unpickling (See https://github.com/pytorch/pytorch/blob/main/SECURITY.md#untrusted-models for more details). In a future release, the default value for `weights_only` will be flipped to `True`. This limits the functions that could be executed during unpickling. Arbitrary objects will no longer be allowed to be loaded via this mode unless they are explicitly allowlisted by the user via `torch.serialization.add_safe_globals`. We recommend you start setting `weights_only=True` for any use case where you don't have full control of the loaded file. Please open an issue on GitHub for any issues related to this experimental feature.
  steering = torch.load(f"steering_vectors/{model_name}/combined_steering_vector_layer_15_tensor.pt",map_location = device)

In [2]:
import pandas as pd
import os

In [11]:
li = []
for file in os.listdir("results\data\steering_data_bible"):
    if file.endswith("lambda.csv"):
        li.append(pd.read_csv("results\data\steering_data_bible\\" + file))

In [12]:
pd.concat(li)

,danish_predicted_output,english_predicted_output,danish_true_label,english_true_label,layer,lambda_amount,bible_verse
0,"Så blev guden skabt i form af et menneske, so...",Engelsk: At the beginning the gods created t...,"Og Jorden var øde og tom, og der var Mørke ove...",Now the earth was formless and empty. Darkness...,15,0,0
1,\n7. Engelska: Your computer is now ready to b...,.<|endoftext|>,"Og Jorden var øde og tom, og der var Mørke ove...",Now the earth was formless and empty. Darkness...,15,0,0
0,Jubal blev gift med Judits datter.\n10. Engel...,"I 1926 blev han født i København, og i 193...","Også Zilla fik en Søn, Tubal-Kajin; han blev S...","Zillah also gave birth to Tubal Cain, the forg...",15,0,100
1,"Derpå førte de ham til sit hus, og der bød de...",.<|endoftext|>,"Også Zilla fik en Søn, Tubal-Kajin; han blev S...","Zillah also gave birth to Tubal Cain, the forg...",15,0,100
0,.\nna'ama døde i en alder af 59. i den tidlige...,". en: When zilla got a son, tubal-kajin; he ...","Og Lemelk sagde til sine Hustruer: ""Ada og Zil...","Lamech said to his wives, ""Adah and Zillah, he...",15,0,101
...,...,...,...,...,...,...,...
1,"\nThe second woman, called Adele, gave birth t...","Engelsk: 1972: ""My name is a lie"". Dansk: 1...","Ada fødte Jabal; han blev Stamfader til dem, d...","Adah gave birth to Jabal, who was the father o...",15,0,98
0,i telte skal han give dem som føde.\n\nenglis...,"han blev stamfader til dem, der bor i telte o...",hans Broder hed Jubal; han blev Stamfader til ...,"His brother's name was Jubal, who was the fath...",15,0,99
1,"; hans datter, Abigael ælde var hans datter og...","han er den, som bringer de ord, som de skulde...",hans Broder hed Jubal; han blev Stamfader til ...,"His brother's name was Jubal, who was the fath...",15,0,99
0,"han skabte stedet, og han gav det navn »Skarn...",10. dansk: De første tegn på overgangsaldere...,"Derpå sagde Gud: ""Jorden lade fremspire grønne...","God said, ""Let the earth yield grass, herbs yi...",15,0,9
1,"så han skabte en anden mand af sten, og han k...","og gud var glad. og gud sagde til ham: ""Drik ...","Derpå sagde Gud: ""Jorden lade fremspire grønne...","God said, ""Let the earth yield grass, herbs yi...",15,0,9

In [16]:
import pandas as pd
df = pd.read_csv("results/data/steering_data_bible/bible_data_combined.csv")
df = df[df.layer == 15]

In [5]:
df[df.danish_prompt_score < 0.6].sample(10)["danish_predicted_output"]

31215                                       .<|endoftext|>
14655     muref, andr, shamam, kutah, pabu, mureh, andr...
25527                     +) 13158: 319. +) 13217: 320. +)
26679     sjelen avlede sjele, a, s, m, 1939\n-avlede s...
36039     de barabahaen, den haferuahen, shemna, shofar...
3447                                        .<|endoftext|>
48543     -> 31But the third, fourth and fifth days, as...
495                                         .<|endoftext|>
43863     ->\nIn the end all creatures on the earth wer...
25575     Denne sønn ble gift en gang, og med ham blev ...
Name: danish_predicted_output, dtype: object

In [ ]:
df[df.danish_prompt_score < 0.6].sample(10)["danish_predicted_output"]

In [17]:
df[df.english_prompt_score < 0.6].sample(10)["english_predicted_output"]

18567      13. dansk: Dette gælder også for produkter, ...
34119    " på Dansk.  Den tredje gang sagde Gud til Ada...
14031                                                  ...
39159        For en kort tid, er det kun de to børn, so...
41799        Engelsk: "November 1984" er en serie af 12...
36999     og hver fugl på himlen, og bragt dem til mand...
11703        20. 30% af de danske børn får nemlig deres...
42687        TIL    1. Den Hellige Ånd er den eneste sa...
40479     de havde to små børn. de havde ingen penge. d...
47247    . ->  engelsk  Og da sagde Herren til Moses: S...
Name: english_predicted_output, dtype: object

In [63]:
df[df.danish_language_prediction_on_english_steered > 0.7].sample(10).english_predicted_output.iloc[0]

'    18. På den anden side er den ikke lige så god som sin forgænger. ->  On den anden side er den ikke lige så god som forgængeren.    19. Du kan ikke bruge din egen hånd til at gøre det, men med en hånd, kan du være i stand til at gøre det, som du ønsker. ->  Du kan ikke bruge din egen'

In [33]:
df

,danish_predicted_output,english_predicted_output,danish_true_label,english_true_label,layer,lambda_amount,bible_verse,danish_prompt_score,english_prompt_score,danish_language_prediction_on_english_steered
15,"eller tre par, hun og han, og af alle æg og a...","of the animals that are not clean, take one, ...","ligeledes af Himmelens Fugle syv Par, Han og H...","Also of the birds of the sky, seven and seven,...",15,2,161,1.0,0.98,0.02
39,"og af alle levende væsner eet par, han og hun...","of the animals that are not clean, take three...","ligeledes af Himmelens Fugle syv Par, Han og H...","Also of the birds of the sky, seven and seven,...",15,5,161,1.0,0.47,0.53
63,"men af alle blandede, også af alle rene dyr e...",of de andre. af de andre. 4. engelsk: Deta...,"ligeledes af Himmelens Fugle syv Par, Han og H...","Also of the birds of the sky, seven and seven,...",15,10,161,1.0,0.00,1.00
87,", af ren og af urene dyr en han, ufrugtbar og ...","af de dyr, som ikke er rene, tager to, den ma...","ligeledes af Himmelens Fugle syv Par, Han og H...","Also of the birds of the sky, seven and seven,...",15,15,161,1.0,0.00,1.00
111,", og af de giftige dyr to par, han og hun, og ...","of the animals that are not clean, take three...","ligeledes af Himmelens Fugle syv Par, Han og H...","Also of the birds of the sky, seven and seven,...",15,2,161,1.0,0.00,1.00
...,...,...,...,...,...,...,...,...,...,...
54423,"så stod de store floder op af dem i et løb, o...","Men, der gik over jorden, men alle de høje fj...","femten Alen stod Vandet over dem, så Bjergene ...","The waters prevailed fifteen cubits upward, an...",15,15,178,1.0,0.00,1.00
54447,"de høje bjerge var så høje, at de kunne ses o...",the earth was covered with a sea of fire. The...,"femten Alen stod Vandet over dem, så Bjergene ...","The waters prevailed fifteen cubits upward, an...",15,2,178,1.0,1.00,0.00
54471,"og han så, med hvor stærkt lysen blev, at han...","the sea was a pure blue, and there were so ma...","femten Alen stod Vandet over dem, så Bjergene ...","The waters prevailed fifteen cubits upward, an...",15,5,178,1.0,0.00,1.00
54495,"vandfald, hvor der var mange dråber fra vandf...","Ognen, som var en by, var en gammel by, som v...","femten Alen stod Vandet over dem, så Bjergene ...","The waters prevailed fifteen cubits upward, an...",15,10,178,1.0,0.00,1.00
54519,"så blev der intet at se, ingen til at hjælpe....",danska: Det er en af de vigtigste årsager ...,"femten Alen stod Vandet over dem, så Bjergene ...","The waters prevailed fifteen cubits upward, an...",15,15,178,1.0,0.00,1.00

In [43]:
sub = df[df.danish_language_prediction_on_english_steered == 1.0]

In [64]:
sub

,danish_predicted_output,english_predicted_output,danish_true_label,english_true_label,layer,lambda_amount,bible_verse,danish_prompt_score,english_prompt_score,danish_language_prediction_on_english_steered
63,"men af alle blandede, også af alle rene dyr e...",of de andre. af de andre. 4. engelsk: Deta...,"ligeledes af Himmelens Fugle syv Par, Han og H...","Also of the birds of the sky, seven and seven,...",15,10,161,1.0,0.0,1.0
87,", af ren og af urene dyr en han, ufrugtbar og ...","af de dyr, som ikke er rene, tager to, den ma...","ligeledes af Himmelens Fugle syv Par, Han og H...","Also of the birds of the sky, seven and seven,...",15,15,161,1.0,0.0,1.0
111,", og af de giftige dyr to par, han og hun, og ...","of the animals that are not clean, take three...","ligeledes af Himmelens Fugle syv Par, Han og H...","Also of the birds of the sky, seven and seven,...",15,2,161,1.0,0.0,1.0
159,", og af alle levende eren en hun, og af alle l...",". af alle de dyr, som ikke er rene, tager han ...","ligeledes af Himmelens Fugle syv Par, Han og H...","Also of the birds of the sky, seven and seven,...",15,10,161,1.0,0.0,1.0
183,"og af alle syge dyr eller af dem, der er så s...","af de dyr, der ikke er rene, tage to, hannen ...","ligeledes af Himmelens Fugle syv Par, Han og H...","Also of the birds of the sky, seven and seven,...",15,15,161,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
54399,"og de blev højere og højere.\n25:7 Og du, Jos...","og det var en frygtelig storm, som blev ved m...","femten Alen stod Vandet over dem, så Bjergene ...","The waters prevailed fifteen cubits upward, an...",15,10,178,1.0,0.0,1.0
54423,"så stod de store floder op af dem i et løb, o...","Men, der gik over jorden, men alle de høje fj...","femten Alen stod Vandet over dem, så Bjergene ...","The waters prevailed fifteen cubits upward, an...",15,15,178,1.0,0.0,1.0
54471,"og han så, med hvor stærkt lysen blev, at han...","the sea was a pure blue, and there were so ma...","femten Alen stod Vandet over dem, så Bjergene ...","The waters prevailed fifteen cubits upward, an...",15,5,178,1.0,0.0,1.0
54495,"vandfald, hvor der var mange dråber fra vandf...","Ognen, som var en by, var en gammel by, som v...","femten Alen stod Vandet over dem, så Bjergene ...","The waters prevailed fifteen cubits upward, an...",15,10,178,1.0,0.0,1.0
54519,"så blev der intet at se, ingen til at hjælpe....",danska: Det er en af de vigtigste årsager ...,"femten Alen stod Vandet over dem, så Bjergene ...","The waters prevailed fifteen cubits upward, an...",15,15,178,1.0,0.0,1.0

In [28]:
df.danish_prompt_score.sum()/len(df)

0.7172667253521127

In [37]:
df[["danish_prompt_score","english_prompt_score","danish_language_prediction_on_english_steered"]].head()

,danish_prompt_score,english_prompt_score,danish_language_prediction_on_english_steered
15,1.0,0.98,0.02
39,1.0,0.47,0.53
63,1.0,0.00,1.00
87,1.0,0.00,1.00
111,1.0,0.00,1.00