In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("results/data/steering_data_bible/bible_data_combined.csv")

In [ ]:
df[df.english_prompt_score > 0.8].iloc[0].english_predicted_output

'.  14:30 Og hvis I ikke vil give noget tilovers til den fattige, så sig til ham: "Jeg vil give dig syv Par af hvert rent Dyr, som ikke er rent; giv ham to, den mandlige og den kvindelige.<|endoftext|>'

In [9]:
df[df.english_prompt_score > 0.8].iloc[0]

danish_predicted_output     , og fem par af alle de andre som din mand fin...
english_predicted_output    .  14:30 Og hvis I ikke vil give noget tilover...
danish_true_label           ligeledes af Himmelens Fugle syv Par, Han og H...
english_true_label          Also of the birds of the sky, seven and seven,...
layer                                                                      17
lambda_amount                                                               2
bible_verse                                                               161
danish_prompt_score                                                       1.0
english_prompt_score                                                      1.0
Name: 17, dtype: object

In [10]:
df

,danish_predicted_output,english_predicted_output,danish_true_label,english_true_label,layer,lambda_amount,bible_verse,danish_prompt_score,english_prompt_score
0,og af alle dovne og uansvarlige dyr så et par...,"of the animals that are clean, take one pair ...","ligeledes af Himmelens Fugle syv Par, Han og H...","Also of the birds of the sky, seven and seven,...",0,2,161,1.00,0.00
1,", og af alle rovfugle femten hundrede for hver...",And you shall take seven pairs of every clean...,"ligeledes af Himmelens Fugle syv Par, Han og H...","Also of the birds of the sky, seven and seven,...",1,2,161,1.00,0.00
2,og de skal tage fire køer og en ged og en hes...,"of the animals that are clean, take three, an...","ligeledes af Himmelens Fugle syv Par, Han og H...","Also of the birds of the sky, seven and seven,...",2,2,161,1.00,0.00
3,"og af alle andre dyr skal du tage fem par, ha...",16. svenska: En av dessa är ett stort anta...,"ligeledes af Himmelens Fugle syv Par, Han og H...","Also of the birds of the sky, seven and seven,...",3,2,161,1.00,0.00
4,", med undtagelse af det rene ebony tævepar og ...",The male and his female shall eat and drink a...,"ligeledes af Himmelens Fugle syv Par, Han og H...","Also of the birds of the sky, seven and seven,...",4,2,161,1.00,0.00
...,...,...,...,...,...,...,...,...,...
54523,"; og da de saa denne undergang, saas den.<|end...","og så i en anden karakter, i den ud af en and...","femten Alen stod Vandet over dem, så Bjergene ...","The waters prevailed fifteen cubits upward, an...",19,15,178,1.00,1.00
54524,; ->\ndansk<|endoftext|>,I s s u s s i i s s s i s s s s s s s s s s s...,"femten Alen stod Vandet over dem, så Bjergene ...","The waters prevailed fifteen cubits upward, an...",20,15,178,0.89,0.00
54525,og under bjergets flig blev landet fyldt med ...,2. 3. 4. 5. 6. 7. 8. ...,"femten Alen stod Vandet over dem, så Bjergene ...","The waters prevailed fifteen cubits upward, an...",21,15,178,1.00,0.71
54526,"når de stod højest, flød vandet op imod dem, ...",. for the earth was under the top of the world...,"femten Alen stod Vandet over dem, så Bjergene ...","The waters prevailed fifteen cubits upward, an...",22,15,178,1.00,0.00
54527,"men de kom til land i det inderste af landet,...","""The great white dragon went over the sea....","femten Alen stod Vandet over dem, så Bjergene ...","The waters prevailed fifteen cubits upward, an...",23,15,178,1.00,0.00